/* .white-version .section-title span.subtitle {
    color: var(--color-subtitle);
    letter-spacing: 2px;
    display: block;
    line-height: 14px;
    font-weight: 500;
} */
/* .rn-section-gap {
    padding: 100px 0;
}
.section-title span.subtitle {
    color: var(--color-subtitle);
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
}
.section-title span.subtitle {
    color: #ff014f;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    font-family: var(--font-secondary);
    font-weight: 500;
}
.white-version .section-title h2.title {
    color: var(--color-body-white);
}
.section-title h2.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-lightn);
    margin-top: 15px;
    margin-bottom: 0;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}
.row>[class*=col] {
    padding-left: 15px;
    padding-right: 15px;
}
.white-version .section-title h2.title {
    color: var(--color-body-white);
}

.section-title h2.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-lightn);
    margin-top: 15px;
    margin-bottom: 0;
}
.row--25 {
    margin-left: -25px;
    margin-right: -25px;
}




@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
        .col-lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
} */




